{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
My Flask App
{% endblock %}

{% block page_content %}



<div class="container-fluid">
   
    <div class="row">
        <div class="col-4">
            <h1>&nbsp</h1>
           </div>
       <div class="col-4 loginForm">
        <h1 style="text-align: center;"> Login </h1>
        {{ wtf.quick_form(form) }}
        <div class="row">
            <a href="/">Home</a>
           </div>
       </div>

       <div class="col-4">
        <h1>&nbsp</h1>
       </div>

    </div>
</div>



{% endblock %}