.control-label {
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 1vh;
}

.loginForm {
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    box-shadow: 5px 5px 15px rgb(74, 74, 74);
    height: 100vh;
    padding-top: 20vh;
}

.row {
    margin-top: 10vh;
}

