{% extends "bootstrap/base.html" %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/header.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/register.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/404.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/page.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/products.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/product_panel.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/font.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

  
  <title>{% block title %}Flasky{% endblock %}</title>
  {% endblock %}
  
</head>

<body>



  {% block content %}

  <div style="padding: auto; z-index: 1; position: relative;">
    {% block page_content %}
    {% endblock %}
  </div>

  {% endblock %}


  
</body>

</html>