{% extends "base.html" %}


{% block title %}
My Flask App Payment
{% endblock %}

{% block page_content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h1>&nbsp</h1>
        </div>
        <div class="col-md-8">
            <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.name }}{% else %}Please Login To
                Continue{% endif %}!</h1>
        </div>
        <div class="col-md-2">
            <h1>&nbsp</h1>
        </div>
    </div>

</div>
{% endblock %}