{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    My Flask App Payment
{% endblock %}

{% block page_content%}

<div class="container-fluid">
   
    <div class="row">
        <div class="col-4">
            <h1>&nbsp</h1>
           </div>
       <div class="col-4 loginForm">
        <h1 style="text-align: center;">Student Info </h1>
            
            <hr>
            <div class="row">
                <div class="col-4">
                    <h4>Balance: </h4>
                </div>
                <div class="col-8" style="text-align: right;">
                    <h4>30.000.000VND</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <h5>Semester</h5>
                </div>
                <div class="col-4" style="text-align: right;">
                    <h5>2</h5>
                </div>
            </div>
            <hr>
      

        
           <hr>
       </div>
       <div class="col-4">
        <h1>&nbsp</h1>
       </div>

    </div>
</div>


{% endblock %}