{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Payment Service
{% endblock %}

{% block page_content%}

<div class="container-fluid">
<div class="row">
    <div class="col-md-2">
        <h1>&nbsp</h1>
      </div>
      <div class="col-md-8">
           
    <div class="form-wrapper">
        <h2 class="title">INFORMATION</h2>
  
        <form method="POST" action="{{ url_for('main.purchase') }}">
            {{form.csrf_token}}
            <fieldset class="form-field">
                <div class="row">
                    <hr>
                    <div class="col-md-5">
                       <h4>{{ form.masv_pay.label }}</h4>
                    </div>
                    <div class="col-md-7">
                      <h4>  {{ form.masv_pay(value = current_user.masv, disabled="disabled") }}</h4>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-field">
                <div class="row">
                    <div class="col-md-5">
                       <h4>{{ form.phonesv_pay.label }}</h4>
                    </div>
                    <div class="col-md-7">
                      <h4>{{ form.phonesv_pay(value = current_user.sdt, disabled="disabled") }}</h4>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-field">
                <div class="row">
                    <div class="col-md-5">
                       <h4> {{ form.emailsv_pay.label }}</h4>
                    </div>
                    <div class="col-md-7">
                      <h4> {{ form.emailsv_pay(value = current_user.email, disabled="disabled") }}</h4>
                    </div>
                </div>
            </fieldset>
            <hr>
            <fieldset class="form-field">
                <div class="row">
                    <hr>
                    <div class="col-md-5">
                       <h4> {{ form.masv_dept.label }}</h4>
                    </div>
                    <div class="col-md-7">
                      <h4>   {{ form.masv_dept }}</h4>
                    </div>
                </div>   
            </fieldset>
            <fieldset class="form-field">
                <div class="row">
                    <div class="col-md-5">
                       <h4> {{ form.namesv_dept.label }}</h4>
                    </div>
                    <div class="col-md-7">
                      <h4>   {{ form.namesv_dept }}</h4>
                    </div>
                </div>                 
            </fieldset>
            <fieldset class="form-field">
                <div class="row">
                    <div class="col-md-5">
                       <h4>  {{ form.sotienno.label }}</h4>
                    </div>
                    <div class="col-md-7">
                      <h4>    {{ form.sotienno }}</h4>
                    </div>
                </div>        
            </fieldset>
<hr>
            <h2 class="title">PAYMENT</h2>
            <fieldset class="form-field">
                <div class="row">
                    <div class="col-md-5">
                       <h4>    {{ form.sodu.label }}</h4>
                    </div>
                    <div class="col-md-7">
                      <h4>  {{ form.sodu(value = current_user.sodu, disabled_="disabled") }}</h4>
                    </div>
                </div>   
             
                
            </fieldset>
            <fieldset class="form-field">
                <div class="row">
                    <div class="col-md-5">
                       <h4>     {{ form.sotien.label }}</h4>
                    </div>
                    <div class="col-md-7">
                      <h4>   {{ form.sotien }}</h4>
                    </div>
                </div>   
             
               
            </fieldset>
            <fieldset class="form-field">
                {{ form.hidden }}
            </fieldset>
            <fieldset class="form-field">
                
                {{ form.agreement }}
                {{ form.agreement.label }}
            </fieldset>
        
            {{ form.submit }}
        
        </form>
    </div>
      </div>
      <div class="col-md-2">
        <h1>&nbsp</h1>
      </div>
 

</div>
</div> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='ajax.js') }}"></script>


{% endblock %}